<% const imgSrc = typeof playlist.img.data === "undefined" ?
"assets/playlistCover.jpg" :
`data:image/${playlist.img.contentType};base64,${playlist.img.data.toString('base64')}
` %>

<div class="card w-25 shadow-lg text-center m-3 img-zoom">
  <i
    class="bi bi-x-lg btn btn-outline-danger position-absolute"
    style="right: 0; z-index: 10"
    data-bs-toggle="modal"
    data-bs-target="#deleteModal<%= playlist._id %>"
  ></i>
  <img src="<%= imgSrc %>" alt="Skillet" class="card-img-top" />
  <div class="card-body">
    <h2><%= playlist.name %></h2>
    <p><%= playlist._tracks.length %> tracks</p>
  </div>
  <a href="/playlist/<%= playlist._id %>" class="stretched-link"></a>
</div>

<%- include("./forms/deletePlaylistForm", { playlistID: playlist._id}) %>
