<% const text = typeof playlistID === "undefined" ? `Are you sure you want to
remove this song? It will be deleted from every playlist` : `Are you sure you
want to remove this song from the playlist?`; const editLink = typeof playlistID
=== "undefined" ? "/tracks/edit" : `/playlist/${playlistID}/edit`; const
deleteLink = typeof playlistID === "undefined" ? "/tracks/delete" :
`/playlist/${playlistID}/delete` %>

<table class="table table-hover table-striped" style="width: 60%">
  <thead>
    <tr>
      <th>TITLE</th>
      <th>ARTIST</th>
      <th>DESCRIPTION</th>
      <% if (optionsAvailable) { %>
      <th>OPTIONS</th>
      <% } %>
    </tr>
  </thead>

  <tbody class="align-text-top">
    <% tracks.forEach(track => { %>
    <tr draggable="<%= !optionsAvailable %>">
      <td><%= track.title %></td>
      <td><%= track.artist %></td>
      <td><%= track.description %></td>
      <% if (optionsAvailable) { %>
      <td>
        <i
          class="bi bi-play-circle-fill btn"
          onclick="StartAudioPlayer('<%= track.url %>', '<%= track.artist %>', '<%= track.title %>')"
        ></i>
        <a href="<%= `${editLink}/${track._id}` %>">
          <i class="bi bi-pencil-fill btn"></i
        ></a>
        <i
          class="bi bi-trash3-fill btn"
          data-bs-toggle="modal"
          data-bs-target="#deleteModal<%= track._id %>"
        ></i>
      </td>
      <% } %>
    </tr>
    <%- include("./forms/deleteTrackForm", { trackID: track._id, text: text,
    deleteLink: deleteLink }) %> <% }) %>
  </tbody>
</table>

<script src="/js/audioPlayer.js"></script>
