<%- include("./components/common/header") %>

<body>
  <%- include("./components/common/navbar") %>

  <main class="p-4">
    <div class="d-flex justify-content-between mb-2">
      <h1>
        <a href="/playlists" class="text-muted me-2"
          ><i class="bi bi-arrow-left"></i
        ></a>
        <%= playlist.name %> Playlist
      </h1>
      <%- include("./components/searchbars/playListTrackSearchBar") %>
    </div>

    <table class="table table-hover table-striped" style="width: 60%">
      <thead>
        <tr>
          <th>TITLE</th>
          <th>ARTIST</th>
          <th>DESCRIPTION</th>
          <th>OPTIONS</th>
        </tr>
      </thead>

      <tbody class="align-text-top">
        <% playlist.tracks.forEach(track => { %>
        <tr>
          <td><%= track.title %></td>
          <td><%= track.artist %></td>
          <td><%= track.description %></td>
          <td>
            <i class="bi bi-play-circle-fill btn"></i>
            <i
              class="bi bi-pencil-fill btn"
              data-bs-toggle="modal"
              data-bs-target="#editModal"
            ></i>
            <i
              class="bi bi-trash3-fill btn"
              data-bs-toggle="modal"
              data-bs-target="#deleteModal"
            ></i>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </main>

  <aside
    class="position-fixed d-flex flex-column justify-content-between p-5"
    style="top: 25%; left: 60%; width: 40%; height: 75%"
  >
    <div class="alert alert-primary text-center p-5 rounded-pill">
      <h1 class="fst-italic">Found a nice song?</h1>
      <button
        type="button"
        class="btn btn-primary w-100"
        data-bs-toggle="modal"
        data-bs-target="#trackModal"
      >
        ADD IT HERE
      </button>
    </div>
  </aside>

  <div
    class="modal fade"
    id="trackModal"
    tabindex="-1"
    aria-labelledby="Track form"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Track</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="url" class="form-label fw-bold">URL</label>
            <input
              type="text"
              class="form-control"
              id="url"
              aria-describedby="URL"
            />
          </div>

          <div class="mb-3">
            <label for="title" class="form-label fw-bold">Title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              aria-describedby="Title"
            />
          </div>

          <div class="mb-3">
            <label for="artist" class="form-label fw-bold">Artist</label>
            <input
              type="text"
              class="form-control"
              id="artist"
              aria-describedby="Artist"
            />
          </div>

          <div class="mb-3">
            <label for="description" class="form-label fw-bold"
              >Description</label
            >
            <textarea
              type="text"
              class="form-control"
              id="description"
              aria-describedby="Description"
              placeholder="Write something about why you liked this song"
            ></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save</button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="editModal"
    tabindex="-1"
    aria-labelledby="Track form"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Track</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="url" class="form-label fw-bold">URL</label>
            <input
              type="text"
              class="form-control"
              id="url"
              aria-describedby="URL"
              value="https://www.youtube.com/watch?v=lF8s2bZUwlM"
            />
          </div>

          <div class="mb-3">
            <label for="title" class="form-label fw-bold">Title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              aria-describedby="Title"
              value="Ignite"
            />
          </div>

          <div class="mb-3">
            <label for="artist" class="form-label fw-bold">Artist</label>
            <input
              type="text"
              class="form-control"
              id="artist"
              aria-describedby="Artist"
              value="Skillet"
            />
          </div>

          <div class="mb-3">
            <label for="description" class="form-label fw-bold"
              >Description</label
            >
            <textarea
              type="text"
              class="form-control"
              id="description"
              aria-describedby="Description"
            >
Those guitar riffs are insane
                </textarea
            >
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save</button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="deleteModal"
    tabindex="-1"
    aria-labelledby="Track form"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Track</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to remove this song from the list?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger">Delete</button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <%- include("./components/common/footer") %>
</body>
