<%- include("./components/common/header") %>

<body>
  <%- include("./components/common/navbar") %>

  <main class="p-4">
    <%- include("./components/titleBar", { link: "/playlists", title:
    playlist.name + " Playlist", searchLink: `playlist/${playlist._id}/search`})
    %>

    <table class="table table-hover table-striped" style="width: 60%">
      <thead>
        <tr>
          <th>TITLE</th>
          <th>ARTIST</th>
          <th>DESCRIPTION</th>
          <th>OPTIONS</th>
        </tr>
      </thead>

      <tbody class="align-text-top">
        <% playlist.tracks.forEach(track => { %>
        <tr>
          <td><%= track.title %></td>
          <td><%= track.artist %></td>
          <td><%= track.description %></td>
          <td>
            <i class="bi bi-play-circle-fill btn"></i>
            <a href="/tracks/edit/<%= track._id %>">
              <i class="bi bi-pencil-fill btn"></i
            ></a>
            <i
              class="bi bi-trash3-fill btn"
              data-bs-toggle="modal"
              data-bs-target="#deleteModal"
            ></i>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </main>

  <aside
    class="position-fixed d-flex flex-column justify-content-between p-5"
    style="top: 25%; left: 60%; width: 40%; height: 75%"
  >
    <div class="alert alert-primary text-center p-5 rounded-pill shadow">
      <h1 class="fst-italic">Found a nice song?</h1>
      <a href="/playlist/<%= playlist._id %>/add">
        <button type="button" class="btn btn-primary w-100">ADD IT HERE</button>
      </a>
    </div>
  </aside>

  <%- include("./components/forms/deleteTrackForm") %> <%-
  include("./components/common/footer") %>
</body>
