<%- include("../components/common/header") %>

<body>
  <%- include("../components/common/navbar") %>

  <main class="p-4">
    <%- include("../components/titleBar", { link: typeof playlist ===
    "undefined" ? "/playlists" : `/playlist/${playlist._id}`, title: `${typeof
    playlist === "undefined" ? "Create" : "Edit"} Playlist`}) %> <%-
    include("../components/tracksTable", { tracks: tracks, optionsAvailable:
    false }) %>
  </main>

  <%- include("../components/forms/addPlaylistForm") %> <%-
  include("../components/common/footer") %>
</body>
