<%- include("../components/common/header") %> <% const action = typeof playlist
=== "undefined" ? "/playlists/add" : `/playlists/edit/${playlist._id}` %>

<body>
  <%- include("../components/common/navbar") %>

  <main class="p-4">
    <%- include("../components/titleBar", { link: typeof playlist ===
    "undefined" ? "/playlists" : `/playlist/${playlist._id}`, title: `${typeof
    playlist === "undefined" ? "Create" : "Edit"} Playlist`}) %> <%-
    include("../components/tracksTable", { tracks: tracks, optionsAvailable:
    false }) %>
  </main>

  <%- include("../components/forms/addPlaylistForm", { action: action }) %> <%-
  include("../components/common/footer") %>
</body>
