<%- include("../components/common/header") %>

<body>
  <%- include("../components/common/navbar") %>
  <main class="p-4">
    <%- include("../components/titleBar", { link: "/", title: "My Tracks",
    searchLink: "/tracks/search" }) %> <%- include("../components/tracksTable",
    { tracks: tracks, optionsAvailable: true }) %>
  </main>
  <aside
    class="position-fixed d-flex flex-column justify-content-between p-5"
    style="top: 25%; left: 60%; width: 40%; height: 75%"
  >
    <%- include("../components/addTrack", { link: "/tracks/add" }) %> <%-
    include("../components/audioPlayer") %>
  </aside>

  <%- include("../components/common/footer") %>
</body>
